*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.nav{
    background: #fff;
    padding: 10px;
    text-align: end;
    text-transform: capitalize;
}
.nav a{
    text-decoration: none;
    color: #82B7DF;
}

.container{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)), url('../images/dj.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center; 
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #82B7DF;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #82B7DF;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
}
.input-field i{
    margin-left: 15px;
    color: #999;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field a{
    flex-basis: 48%;
    background: #82B7DF;
    border-radius: 20px;
}
.btn-field button{
    height: 40px;
    color: #fff;
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}
/* .btn-field a {
    text-decoration: none;
    color: #555;
} */
.input-group{
    height: 260px;
}

.btn-field a.disable{
    background: #eaeaea;
}
.btn-field .disable button{
    color: #555;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn button{
    flex-basis: 48%;
    background: #82B7DF;
    color: #fff;
    height: 30px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
