{% extends ("base.html") %}

{% block title %} DEJ Wondirad School | Awards {% endblock %}

{% block content %}

<div class="wrapper bgded overlay dark" style="background-image:url('../images/demo/backgrounds/01.png');">
  <div id="breadcrumb" class="hoc clear"> 
        <h6 class="heading">Awards</h6>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Awards</a></li>
    </ul>
      </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
        <div class="content"> 
            <div id="gallery">
        <figure>
          <header class="heading" style="text-align: center !important;">Our Awards </header>
          <ul class="nospace clear">
            <li class="one_quarter first"><a href="#"><img src="{{url_for('static', filename='/images/dj.jpg')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{url_for('static', filename='/images/dj.jpg')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{url_for('static', filename='/images/dj.jpg')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{url_for('static', filename='/images/dj.jpg')}}" alt=""></a></li>
            <li class="one_quarter first"><a href="#"><img src="{{url_for('static', filename='/images/dj.jpg')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{url_for('static', filename='/images/dj.jpg')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{url_for('static', filename='/images/dj.jpg')}}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{{url_for('static', filename='/images/dj.jpg')}}" alt=""></a></li>
          </ul>
          <figcaption >Gallery Description Goes Here</figcaption>
        </figure>
      </div>
                  <nav class="pagination">
        <ul>
          <li><a href="#">&laquo; Previous</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">6</a></li>
          <li class="current"><strong>7</strong></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li><a href="#">Next &raquo;</a></li>
        </ul>
      </nav>
          </div>
        <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
{% endblock %}